html, body {
    width: 100%;
    height: 100%;
}
.page-container {
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.imgevento {
  transform-origin: center center;
  animation: imgevento 6s ease-in-out alternate infinite;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes imgevento {
  0%,
  100% {
    transform: skew(0deg, 0deg) scale(1.35, 1.35);
    filter: saturate(100%) invert(0%);
    filter: hue-rotate(10%);
  }
  
  25% {
    filter: saturate(150%) invert(10%) hue-rotate(5%);
  }
  
  50% {
    transform: skew(2deg, 2deg) scale(1.35, 1.35);
    filter: saturate(175%) invert(0%) hue-rotate(23%);
  }
  
  75% {
    filter: saturate(255%) invert(20%);
  }
}

.text {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    font-size: 100px;
    text-align: center;
    width: 100%;
    padding-top: 45px;
    color: #0F1212;
}
.text_2 {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding-top: 200px;
    
    color: #243938;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
  
  .blinking {
      animation: fadeIn 1s infinite alternate;
      font-family: 'Pacifico', cursive;
      z-index: 1;
      position: absolute;
      margin: 0 auto;
      font-size: 25px;
      text-align: center;
      width: 100%;
      padding-top: 320px;
  }

  .text_3 {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding-top: 400px;
}

.info {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    margin-left: 1%;
}

.lettersGuessed {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    margin-left: 46%;
}

.text_4 {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 0;
    margin-right:75px; 

}

.text_5 {
    font-family: 'Pacifico', cursive;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 0;
    margin-right:10px; 
}